@font-face {
  font-style: normal;
  font-weight: normal;
  src:
    url('/fonts/NeueMachina.woff2') format('woff2'),
    url('/fonts/NeueMachina.woff') format('woff'),
    url('/fonts/NeueMachina.otf') format('opentype');
  font-family: 'Neue Machina';
  font-display: swap;
}

// COLORS
$color-black: theme('colors.black');
$color-green: theme('colors.green');
$color-white: theme('colors.white');
$color-white-80: theme('colors.white-80');
$color-white-40: theme('colors.white-40');
$color-white-12: theme('colors.white-12');

// FONTS
$font-neue-machina: 'Neue Machina', sans-serif;

// SPACING
$x-default: theme('width.x-default');
$y-default: theme('width.y-default');
$x-half-default: theme('width.x-half-default');
$y-half-default: theme('width.y-half-default');
$x-double-default: theme('width.x-double-default');
$y-double-default: theme('width.y-double-default');

// BREAKPOINTS
$screens-xs: theme('screens.xs');
$screens-sm: theme('screens.sm');
$screens-md: theme('screens.md');
$screens-lg: theme('screens.lg');

// COMPATIBILITY
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
