.button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 40px;
  padding: 0px 20px;
  overflow: hidden;
  gap: 10px;
  border: 1px solid $color-white-80;
  border-radius: 9999px;
  color: $color-white-80;
  text-transform: uppercase;
  white-space: nowrap;
  transition:
    border-color 0.3s,
    background-color 0.3s,
    color 0.3s;

  &:hover {
    border-color: transparent;
    background-color: $color-white-40;
    color: $color-black !important;

    svg {
      fill: $color-black !important;
    }
  }

  svg {
    transform: rotate(-45deg);
    transition: fill 0.3s;
  }
}
