.smoother-x-black {
  position: relative;

  &::before {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: $x-default;
    height: 100%;
    background: linear-gradient(to right, $color-black, transparent);
    content: '';
  }

  &::after {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    width: $x-default;
    height: 100%;
    background: linear-gradient(to left, $color-black, transparent);
    content: '';
  }

  @media (min-width: $screens-sm) {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.smoother-y-black-full {
  position: relative;

  &::before {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: $color-black;
    content: '';
    pointer-events: none;
  }

  &::after {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    background: linear-gradient(
      to bottom,
      $color-black 5%,
      #0e0e0e9d 30%,
      #0e0e0e6a 40%,
      transparent 50%,
      #0e0e0e6a 60%,
      #0e0e0e9d 70%,
      $color-black 95%
    );
    content: '';
    pointer-events: none;
  }
}
