.page-transition.stairs {
  .transition-container {
    display: grid;
    z-index: 910;
    position: fixed;
    top: 0;
    left: 0;
    grid-template-columns: repeat(6, 1fr);
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    div {
      position: relative;
      width: 101%;
      height: 100%;
      background-color: $color-white;
    }
  }
}
