body
  font-family: $font-neue-machina
  background: $color-black
  color: $color-white-80
  font-size: 16px
  scrollbar-width: thin

*::-moz-selection
  color: $color-black
  background: $color-white-80

*::selection
  color: $color-black
  background: $color-white-80
