*,
*::before,
*::after {
  cursor: none !important;
}

body {
  background-color: $color-black;
  color: $color-white-80;
  font-size: 16px;
  font-family: $font-neue-machina;
  scrollbar-width: thin;
}

html {
  ::-moz-selection {
    background: $color-white-80;
    color: $color-black;
  }
  ::selection {
    background: $color-white-80;
    color: $color-black;
  }
}

.no-scrollbar {
  scrollbar-width: none;
}
